In [1]:
import pandas as pd

coupon = pd.read_csv("../data/coupon_1.csv")

In [2]:
coupon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925168 entries, 0 to 2925167
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   promo_id      int64
 2   expiry_date   object
 3   user_id       int64
 4   trip_id       float64
 5   driver_id     int64
 6   redeem_value  int64
 7   event         float64
 8   referrer      float64
 9   data          float64
 10  receive_time  object
 11  first_use     object
 12  redeem_time   object
 13  last_update   object
 14  custom_data   object
dtypes: float64(4), int64(5), object(6)
memory usage: 334.8+ MB

In [3]:
coupon.describe()

,id,promo_id,user_id,trip_id,driver_id,redeem_value,event,referrer,data
count,2.925168e+06,2.925168e+06,2.925168e+06,1.725180e+05,2.925168e+06,2.925168e+06,407.000000,4.212000e+03,0.0
mean,1.500509e+09,1.060485e+07,2.295175e+06,8.094792e+07,1.119667e+05,1.398866e+00,2981.412776,2.906328e+06,NaN
std,1.124745e+07,1.256323e+04,1.417259e+06,8.400536e+05,6.160685e+05,7.604310e+00,0.492939,1.755389e+06,NaN
min,1.494263e+09,1.050846e+07,9.300000e+01,7.988859e+07,0.000000e+00,0.000000e+00,2981.000000,2.350000e+02,NaN
25%,1.496490e+09,1.059308e+07,1.071611e+06,8.045582e+07,0.000000e+00,0.000000e+00,2981.000000,1.214330e+06,NaN
50%,1.498350e+09,1.060341e+07,2.191451e+06,8.080642e+07,0.000000e+00,0.000000e+00,2981.000000,3.225244e+06,NaN
75%,1.500411e+09,1.061785e+07,3.519738e+06,8.108875e+07,0.000000e+00,0.000000e+00,2982.000000,4.759433e+06,NaN
max,1.596576e+09,1.061948e+07,5.299156e+06,8.635906e+07,5.272307e+06,6.000000e+02,2982.000000,4.916401e+06,NaN

In [4]:
pd.set_option("display.max_columns", None)
coupon.head()

,id,promo_id,expiry_date,user_id,trip_id,driver_id,redeem_value,event,referrer,data,receive_time,first_use,redeem_time,last_update,custom_data
0,1494415785,10508458,2025-07-06 01:59:59 UTC,1653855,NaN,0,0,NaN,NaN,NaN,2025-06-29 13:05:03 UTC,NaN,NaN,NaN,NaN
1,1494414486,10508458,2025-07-06 01:59:59 UTC,747380,NaN,0,0,NaN,NaN,NaN,2025-06-29 13:05:01 UTC,NaN,NaN,NaN,NaN
2,1494416236,10508458,2025-07-06 01:59:59 UTC,743989,NaN,0,0,NaN,NaN,NaN,2025-06-29 13:05:04 UTC,NaN,NaN,NaN,NaN
3,1494417858,10508458,2025-07-06 01:59:59 UTC,3682275,NaN,0,0,NaN,NaN,NaN,2025-06-29 13:05:33 UTC,NaN,NaN,NaN,NaN
4,1494415111,10508458,2025-07-06 01:59:59 UTC,3817461,NaN,0,0,NaN,NaN,NaN,2025-06-29 13:05:02 UTC,NaN,NaN,NaN,NaN