In [2]:
import pandas as pd

trip = pd.read_csv("../data/trip_1.csv")

In [3]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897082 entries, 0 to 1897081
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   trip_id             int64
 1   trip_hash           object
 2   user_id             int64
 3   user_type           object
 4   payment_method      object
 5   amount              int64
 6   start_address       object
 7   end_address         object
 8   ip                  object
 9   request_time        object
 10  reserve_time        object
 11  notes               object
 12  driver_id           float64
 13  driver_eta          int64
 14  trip_status         object
 15  feature_map         int64
 16  referral_partner    object
 17  ref_code            object
 18  first_driver        float64
 19  multiplier          float64
 20  driver_feature_map  int64
dtypes: float64(3), int64(6), object(12)
memory usage: 303.9+ MB

In [4]:
trip.describe()

,trip_id,user_id,amount,driver_id,driver_eta,feature_map,first_driver,multiplier,driver_feature_map
count,1.897082e+06,1.897082e+06,1.897082e+06,1.417674e+06,1.897082e+06,1.897082e+06,0.0,1.784940e+06,1.897082e+06
mean,8.093677e+07,2.070604e+06,1.719136e+02,2.190683e+06,1.848819e+02,1.106073e+07,NaN,1.014092e+00,8.000873e+07
std,5.479251e+05,1.419721e+06,1.858875e+02,1.627037e+06,1.771358e+02,6.945087e+07,NaN,9.698021e-02,2.477135e+08
min,7.998785e+07,3.000000e+01,0.000000e+00,5.100000e+01,0.000000e+00,1.048576e+06,NaN,1.000000e+00,0.000000e+00
25%,8.046224e+07,8.186730e+05,0.000000e+00,5.929060e+05,0.000000e+00,1.048576e+06,NaN,1.000000e+00,0.000000e+00
50%,8.093670e+07,1.844351e+06,1.540000e+02,1.967634e+06,1.640000e+02,8.388608e+06,NaN,1.000000e+00,1.783424e+07
75%,8.141120e+07,3.197682e+06,2.500000e+02,3.844920e+06,2.970000e+02,9.437184e+06,NaN,1.000000e+00,2.516714e+07
max,8.188609e+07,4.919181e+06,9.995000e+03,4.906658e+06,3.283000e+03,1.157628e+09,NaN,2.500000e+00,1.636041e+09

In [6]:
pd.set_option("display.max_columns", None)
trip.head()

,trip_id,trip_hash,user_id,user_type,payment_method,amount,start_address,end_address,ip,request_time,reserve_time,notes,driver_id,driver_eta,trip_status,feature_map,referral_partner,ref_code,first_driver,multiplier,driver_feature_map
0,81415529,xklilJ,3938205,line,cash,0,桃園市中壢區中園路178-1號,NaN,NaN,2025-08-15 09:41:46 UTC,2025-08-15 09:41:46 UTC,NaN,NaN,0,TRIP_CANCELED,1048576,NaN,NaN,NaN,NaN,0
1,81418826,ByRBhP,2258107,line,creditcard,0,台中市西屯區福科路377號3,台中市西屯區文華路100號,NaN,2025-08-15 10:35:11 UTC,2025-08-15 10:35:11 UTC,NaN,NaN,0,TRIP_CANCELED,8388608,NaN,NaN,NaN,1.0,0
2,81413023,gIMeaA,3230609,line,creditcard,0,新北市板橋區新海路460號,新北市板橋區縣民大道二段7號板橋車站,NaN,2025-08-15 08:34:20 UTC,2025-08-15 08:34:20 UTC,NaN,NaN,0,TRIP_CANCELED,1048576,NaN,NaN,NaN,1.0,0
3,81417881,JfVuhw,4200392,line,linepay,0,中山診所︱骨科、復健...(台南市永康區中山南路119巷8號),NaN,NaN,2025-08-15 10:19:49 UTC,2025-08-15 10:19:49 UTC,NaN,NaN,0,TRIP_CANCELED,1048576,NaN,NaN,NaN,NaN,0
4,81414821,vCCrfc,98901,line,creditcard,0,台北世界贸易中心国际贸易大楼 (台北市信義區基隆路一段333號),台北市中山區民生東路二段86號,NaN,2025-08-15 09:25:52 UTC,2025-08-15 09:25:52 UTC,NaN,NaN,0,TRIP_CANCELED,1048576,NaN,NaN,NaN,1.0,0

In [14]:
import pandas as pd

# 轉成 datetime（無法解析的會變 NaT）
rt = pd.to_datetime(trip["request_time"], errors="coerce", utc=True)

earliest = rt.min()
latest   = rt.max()

print("earliest request_time:", earliest)
print("latest   request_time:", latest)

earliest request_time: 2025-07-01 00:00:00+00:00
latest   request_time: 2025-08-31 23:59:58+00:00

In [15]:
trip2 = pd.read_csv("../data/trip_2.csv")

rt2 = pd.to_datetime(trip2["request_time"], errors="coerce", utc=True)

earliest = rt2.min()
latest   = rt2.max()

print("earliest request_time:", earliest)
print("latest   request_time:", latest)

earliest request_time: 2025-09-01 00:00:03+00:00
latest   request_time: 2025-10-31 23:59:59+00:00

In [16]:
trip3 = pd.read_csv("../data/trip_3.csv")

rt3 = pd.to_datetime(trip3["request_time"], errors="coerce", utc=True)

earliest = rt3.min()
latest   = rt3.max()

print("earliest request_time:", earliest)
print("latest   request_time:", latest)

earliest request_time: 2025-11-01 00:00:05+00:00
latest   request_time: 2026-01-12 23:59:59+00:00