In [2]:
import pandas as pd

user_city = pd.read_csv("../data/user_city_1.csv", encoding="utf-8")

user_city.head()

,user_id,sub_group,city,city_count,experiment_date,updated_dt
0,3507884,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
1,4305413,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
2,462988,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
3,2059371,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
4,2155762,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393

In [3]:
user_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9597101 entries, 0 to 9597100
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          int64
 1   sub_group        object
 2   city             object
 3   city_count       float64
 4   experiment_date  object
 5   updated_dt       object
dtypes: float64(1), int64(1), object(4)
memory usage: 439.3+ MB

In [4]:
user_city.describe()

            user_id    city_count
count  9.597101e+06  8.943878e+06
mean   2.394603e+06  1.401690e+01
std    1.450984e+06  2.908746e+01
min    3.000000e+01  1.000000e+00
25%    1.147899e+06  2.000000e+00
50%    2.302657e+06  4.000000e+00
75%    3.683902e+06  1.200000e+01
max    4.956406e+06  3.570000e+02

In [5]:
col = "city"
if col not in user_city.columns:
    raise KeyError(f"Missing column: {col}. Available: {list(user_city.columns)}")

# 取不重複值（保留原出現順序），NaN 會印成 <NA>
u = pd.unique(user_city[col].astype("object").where(~user_city[col].isna(), other=pd.NA))

print("\n" + "=" * 80)
print(f"Column: {col} | dtype: {user_city[col].dtype} | n_unique: {len(u)}")
print("-" * 80)
for v in u:
    print("<NA>" if pd.isna(v) else repr(v))

print("\nDONE.")

================================================================================
Column: city | dtype: object | n_unique: 23
--------------------------------------------------------------------------------
<NA>
'嘉義縣'
'基隆市'
'彰化縣'
'新北市'
'桃園市'
'臺中市'
'臺北市'
'臺南市'
'臺東縣'
'花蓮縣'
'雲林縣'
'高雄市'
'南投縣'
'嘉義市'
'宜蘭縣'
'屏東縣'
'新竹市'
'新竹縣'
'苗栗縣'
'澎湖縣'
'金門縣'
'連江縣'

DONE.

In [7]:
import pandas as pd

s = user_city["city"]

counts = s.value_counts(dropna=False)
shares = s.value_counts(dropna=False, normalize=True)

summary = pd.DataFrame({
    "count": counts,
    "share": shares
})

# 想要百分比欄位（可選）
summary["share_pct"] = (summary["share"] * 100).round(2)

print(summary)

        count     share  share_pct
city
臺北市   2563410  0.267103      26.71
新北市   1955969  0.203808      20.38
臺中市   1188779  0.123869      12.39
高雄市    909214  0.094738       9.47
NaN    653232  0.068066       6.81
桃園市    622244  0.064837       6.48
臺南市    482233  0.050248       5.02
基隆市    245797  0.025612       2.56
花蓮縣    231354  0.024107       2.41
新竹市    126370  0.013168       1.32
新竹縣    100223  0.010443       1.04
嘉義市     93918  0.009786       0.98
雲林縣     70154  0.007310       0.73
嘉義縣     66080  0.006885       0.69
彰化縣     65453  0.006820       0.68
臺東縣     60797  0.006335       0.63
宜蘭縣     55864  0.005821       0.58
屏東縣     55518  0.005785       0.58
苗栗縣     27392  0.002854       0.29
南投縣     11230  0.001170       0.12
澎湖縣      8148  0.000849       0.08
金門縣      3654  0.000381       0.04
連江縣        68  0.000007       0.00