In [1]:
import pandas as pd

prep = pd.read_csv("../data/county_prep.csv")

In [2]:
prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1620058 entries, 0 to 1620057
Data columns (total 5 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   date                  1620058 non-null  object
 1   hour                  1620058 non-null  int64
 2   county                1620058 non-null  object
 3   town_m                1620058 non-null  object
 4   average_county_precp  1620058 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.8+ MB

In [3]:
prep.describe()

               hour  average_county_precp
count  1.620058e+06          1.620058e+06
mean   1.152133e+01          3.417668e-01
std    6.917912e+00          2.164785e+00
min    0.000000e+00          0.000000e+00
25%    6.000000e+00          0.000000e+00
50%    1.200000e+01          0.000000e+00
75%    1.800000e+01          0.000000e+00
max    2.300000e+01          1.272000e+02

In [4]:
prep.head()

         date  hour county town_m  average_county_precp
0  2025-12-25     0    基隆市    七堵區                   0.3
1  2025-10-12     0    基隆市    七堵區                   0.0
2  2025-10-30     0    基隆市    七堵區                   0.0
3  2025-12-05     0    基隆市    七堵區                   0.0
4  2025-08-12     0    基隆市    七堵區                   0.0

In [15]:
earliest = prep.min()
latest   = prep.max()

print("earliest prep_date: \n", earliest)
print("\n latest prep_date: \n", latest)

earliest prep_date:
 date                    2025-07-01
hour                             0
county                         南投縣
town_m                         七堵區
average_county_precp           0.0
dtype: object

 latest prep_date:
 date                    2026-01-11
hour                            23
county                         高雄市
town_m                         龜山區
average_county_precp         127.2
dtype: object