In [1]:
import pandas as pd

c_c = pd.read_csv("../data/coupon_category.csv")

In [2]:
c_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7327 entries, 0 to 7326
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   promo_id                 7327 non-null   int64
 1   start_date               7327 non-null   object
 2   end_date                 7327 non-null   object
 3   enable_date              7327 non-null   object
 4   promo_title              7327 non-null   object
 5   promo_code               7327 non-null   object
 6   promo_type               7327 non-null   object
 7   amount                   7327 non-null   float64
 8   max_amount               226 non-null    float64
 9   total_number_of_coupons  7327 non-null   int64
 10  coupon_type              7321 non-null   object
 11  coupon_category          7321 non-null   object
 12  created_at               7327 non-null   object
 13  update_date              7327 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 801.5+ KB

In [4]:
c_c.describe()

           promo_id       amount  max_amount  total_number_of_coupons
count  7.327000e+03  7327.000000  226.000000             7.327000e+03
mean   1.248421e+07    65.481524   44.601770             2.940777e+03
std    9.261348e+05   116.860862   30.281212             7.681183e+04
min    1.050846e+07     0.100000   10.000000            -1.000000e+00
25%    1.272112e+07    20.000000   30.000000             1.000000e+00
50%    1.276901e+07    25.000000   40.000000             1.000000e+00
75%    1.313832e+07    40.000000   50.000000             4.000000e+00
max    1.320731e+07  1000.000000  300.000000             3.200000e+06

In [7]:
pd.set_option("display.max_columns", None)
c_c.head()

,promo_id,start_date,end_date,enable_date,promo_title,promo_code,promo_type,amount,max_amount,total_number_of_coupons,coupon_type,coupon_category,created_at,update_date
0,10593149,2025-07-08T13:19:08,2025-07-31T13:19:08,2025-07-08T13:19:08,打折無上限編輯畫面測試,EAWNWFK,OPERATION,0.95,NaN,-1,NaN,NaN,2025-07-08T13:21:17,2025-07-18
1,10593177,2025-07-11T13:34:25,2038-01-19T11:14:07,2025-07-11T13:34:25,autoQA test 所有車款專用券,autoqatest1,OPERATION,1.00,NaN,-1,NaN,NaN,2025-07-11T13:38:42,2025-07-11
2,12737145,2025-09-01T09:32:07,2025-09-30T09:32:07,2025-09-03T09:32:07,測試 CDP 領取優惠券 250903,JLJ7UM5,OPERATION,0.90,10.0,-1,NaN,NaN,2025-09-03T09:33:15,2025-09-03
3,13074844,2025-09-01T09:47:09,2025-09-30T09:47:09,2025-09-25T09:47:09,PRD測試-2,FQRCXIG,ONE_TIME_EVENT,50.00,NaN,-1,NaN,NaN,2025-09-26T09:47:59,2025-09-26
4,13175608,2025-12-12T00:00:00,2030-12-31T23:59:59,2025-12-12T00:00:00,[QA] 小黃ALL低消$200,小黃200,OPERATION,1.00,NaN,-1,NaN,NaN,2025-12-14T19:59:21,2025-12-14