In [1]:
import pandas as pd

test_trip = pd.read_csv("../data/test_trip.csv")

In [2]:
test_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4280 entries, 0 to 4279
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trip_id       4280 non-null   int64
 1   request_date  4280 non-null   object
dtypes: int64(1), object(1)
memory usage: 67.0+ KB

In [3]:
test_trip.describe()

            trip_id
count  4.280000e+03
mean   8.269468e+07
std    1.799481e+06
min    7.999275e+07
25%    8.117974e+07
50%    8.228601e+07
75%    8.425662e+07
max    8.635223e+07

In [4]:
test_trip.head()

    trip_id request_date
0  79999111   2025-07-01
1  80000212   2025-07-01
2  80000362   2025-07-01
3  79996668   2025-07-01
4  79996114   2025-07-01