In [1]:
import pandas as pd

user_city = pd.read_csv("../data/user_city_1.csv", encoding="utf-8")

user_city.head()

,user_id,sub_group,city,city_count,experiment_date,updated_dt
0,3507884,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
1,4305413,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
2,462988,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
3,2059371,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393
4,2155762,0721_老師人群、D-7=0,NaN,NaN,2025-07-21,2025-07-24 00:06:16.427393

In [2]:
user_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9597101 entries, 0 to 9597100
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          int64
 1   sub_group        object
 2   city             object
 3   city_count       float64
 4   experiment_date  object
 5   updated_dt       object
dtypes: float64(1), int64(1), object(4)
memory usage: 439.3+ MB

In [3]:
user_city.describe()

            user_id    city_count
count  9.597101e+06  8.943878e+06
mean   2.394603e+06  1.401690e+01
std    1.450984e+06  2.908746e+01
min    3.000000e+01  1.000000e+00
25%    1.147899e+06  2.000000e+00
50%    2.302657e+06  4.000000e+00
75%    3.683902e+06  1.200000e+01
max    4.956406e+06  3.570000e+02